
span {
  margin: 0 10px; 
}

.btn-red {
background: #e53030;
border: 3px solid #fff;
border-radius: 100%;
box-shadow: 0 -2px 0 3px #c91919 inset, 0 5px 5px rgba(65, 8, 8, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
cursor: pointer;
display: inline-block;
height: 75px;
width: 75px; 
}


.btn-red:hover {
background: #333333;
box-shadow: 0 -2px 0 3px #1a1a1a inset, 0 5px 5px rgba(0, 0, 0, 0.17), 0 15px rgba(255, 255, 255, 0.32) inset; }


* {
webkit box sizing: inherit;
box-sizing: inherit;
}

/*.score {
  font-size: 50px;
}
*/
.bigbox {
margin: 50px auto;
width: 375px;
height: 375px;
/*border: 1px solid red;*/
}

.image-div {
  height: 100%;
  width: 100%;
}

.mole-img {
  width: 123px;
  height: 123px;
  display: none;
  cursor: pointer;
}

#box1 {
width: 123px;
height: 123px;
/*border: 1px solid red;*/
float: left;
}

#box2 {
width: 123px;
height: 123px;
/*border: 1px solid red;*/
float: left;
}

#box3 {
width: 123px;
height: 123px;
/*border: 1px solid red;*/
float: left;
}

#box4 {
width: 123px;
height: 123px;
/*border: 1px solid red;*/
float: left;
}

#box5 {
width: 123px;
height: 123px;
/*border: 1px solid red;*/
float: left;
}

#box6 {
width: 123px;
height: 123px;
/*border: 1px solid red;*/
float: left;
}

#box7 {
width: 123px;
height: 123px;
/*border: 1px solid red;*/
float: left;
}

#box8 {
width: 123px;
height: 123px;
/*border: 1px solid red;*/
float: left;
}

#box9 {
width: 123px;
height: 123px;
/*border: 1px solid red;*/
float: left;
}


.body {
background-image: url(/img/rshow_opening.jpg);
background-size: cover;
background-position: center top left;
background-repeat: no-repeat;
text-align: center;

}

.opening
{
background-image: url(/img/rshow_opening.jpg);
background-size: 100%;
}